.addCard {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 250px;
  width: 200px;
  border: 1px solid rgba(128, 128, 128, 0.377);
  margin: 2px;
  background-color: rgba(107, 107, 107, 0.109);
  box-shadow:  0 4px 8px 0 rgba(0,0,0,0.3);
}

.addButton {
  width: 160px;
  height: 80px;
  border-radius: 18px;
  background-color: #62626231;
  border: 1px solid gray;
  outline: none;
  font-size: large;
  color: rgb(102, 102, 102);
}

.addButton:hover{background-color: #5353534d}
.addButton:active{
  border: none;
  background-color: rgba(95, 95, 95, 0.753);
}
