.card {
  display: grid;
  grid-template-rows: 4fr 1fr 1fr 1fr;
  height: 350px;
  width: 200px;
  margin: 2px;
  background-color: rgba(224, 224, 224, 0.904);
  box-shadow:  0 4px 8px 0 rgba(128, 128, 128, 0.945);
}

.cardImage {
  width: 100%;
}

.button {
  background-color: #55ad58;
  border: none;
  outline: none;
  color: white;
  text-align: center;
  /* padding: 4px; */
  margin: 2px;
  display: inline-block;
  
}
.button:hover{background-color: #46a549}
.button:active{
  border: none;
  background-color: rgb(175, 251, 74);
}

.pin{  
  background-color: rgb(204, 118, 118);
}

.pin:hover{background-color: #ad5e5e}
.pin:active{
  border: none;
  background-color: rgb(144, 70, 70);
}

.textArea{
  outline: none;
  resize: none;
  border: none;
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0);
}

.tagContainer{
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid rgba(128, 128, 128, 0.418);
  color: grey;
  padding: 4px;
}

.tagArea{
  grid-template-rows: 1fr 5fr;  
  min-height: 40px;
  /* font-size: 18px; */
  background-color: rgba(0, 0, 0, 0);
}